@charset 'utf-8';

:root {
  --basic-padding: 10px;
  --basic-margin: 10px;
  --basic-margin-small: 5px;
  --basic-margin-large: 20px;

  --header-height: calc(3em + var(--basic-padding) * 2);
  --header-bg-color: #333;
  --header-color: #fff;

  --main-color: #000;
  --main-bg-color: #fff;

  --accent-color: #007bff;

  --content-width: 960px;

  --skill-border-color: #999;
  --skill-content-width: 600px;
  --skill-content-height: var(--skill-content-width);
  --skill-content-inner-width: calc(var(--skill-content-width) - 240px);
  --skill-content-inner-height: var(--skill-content-inner-width);
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP';
  font-weight: 300;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, .5);
  border-radius: 10px;
  box-shadow:0 0 0 1px rgba(255, 255, 255, 0.3);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.continuous-content {
  margin-bottom: var(--basic-margin);
}

.header {
  background-color: var(--header-bg-color);
  padding: var(--basic-padding);
  color: var(--header-color);
  height: var(--header-height);
}

.header__inner {
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
}

.header__title {
  display: flex;
  align-items: flex-end;
  font-size: 1.4em;
}

.header__logo {
  height: 2em;
  margin-right: var(--basic-margin-small);
  image-rendering: pixelated;
}

.main {
  width: var(--content-width);
  margin: 0 auto;
  position: relative;
}

.main__content {
  background-color: var(--main-bg-color);
  padding: var(--basic-padding);
}

.main__inner {
  width: var(--content-width);
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.main__header {
  position: absolute;
  padding: var(--basic-padding);
  height: var(--header-height);
  width: var(--content-width);
  top: calc(-1 * var(--header-height));
  left: calc(-1 * var(--basic-margin));
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--header-color);
}

.home__main {
  display: flex;
  justify-content: space-between;
}

.main__nav {
  display: flex;
  flex: 1;
}

.main__title {
  flex: 1;
  font-size: 1.25em;
  margin-left: 15em;
}

.main__link {
  color: var(--accent-color);
  text-decoration: none;
}

.main__link:hover {
  background-color: #eef0ff;
}

.main__title::before {
  content: '-';
  margin-right: var(--basic-margin);
}

.main__title::after {
  content: '-';
  margin-left: var(--basic-margin);
}

.main__nav li:nth-child(1) {
  margin-left: calc(var(--basic-margin-large) * 2);
}

.main__nav li:nth-child(2) {
  margin-left: calc(var(--basic-margin-large) * 9);
}

.main__nav li:nth-child(3) {
  margin-left: calc(var(--basic-margin-large) * 16);
}

.main__nav-item {
  margin-top: calc(var(--basic-margin-large) * 6);
}

.main__nav-link {
  text-decoration: none;
  color: var(--main-color);
  font-size: 2.5em;
  position: relative;
  font-family: 'Poiret One', cursive;
}

.main__nav-link:hover {
  color: var(--accent-color);
}

.main__nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 10em;
  height: 2px;
  background-color: var(--accent-color);
  transition: all .2s;
  transform: scale(0, 1);
  transform-origin: left top;
}

.main__nav-link:hover::after {
  transform: scale(1, 1);
}

.history {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 150px;
}

.history__title {
  width: 10em;
  padding: 5px;
  border-bottom: 1px solid #000;
  text-align: center;
  margin-bottom: var(--basic-margin-large);
}

.history__time {
  margin-right: 1em;
}

.footer {
  font-size: 0.8em;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--basic-margin);
}

.footer__inner {
  border-top: 1px solid #000;
  padding: var(--basic-padding);
  display: flex;
}

.footer__credit{
  margin-right: var(--basic-margin-large);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__nav {
  display: flex;
}

.header__nav > .header__nav-item:not(:last-child) {
  margin-right: 1em;
}

.header__nav-link {
  color: var(--header-color);
  text-decoration: none;
}

.header__nav-link:hover {
  color: #007bff;
}


.work__buttons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.work__buttons-item {
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.work__buttons-item::before, .work__buttons-item::after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition: 200ms ease all;
}

.work__buttons-item::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.work__buttons-item:hover::before, .work__buttons-item:hover::after {
  width: 100%;
  transition: 300ms ease all;
}

.work__buttons-item:not(:last-of-type) {
  margin-right: 20px;
}

.work__buttons-item--selected {
  background-color: #000;
  color: #fff;
  transition: 1000ms ease all;
}

.work__buttons-item--selected::before {
  content: '';
}

.work__tab-contents {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.work__content {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  width: 600px;
  height: 600px;
  overflow-y: scroll;
  position: absolute;
  left: 200px;
  transition: all 1s ease-in;
}

.content-second {
  transition: all 1s ease-in;
}

.work__content-title {
  position: relative;
  font-size: 22px;
  border-bottom: 1px solid #666;
  padding: 5px 10px 10px;
  text-align: center;
  margin: 0 10px 30px;
}

.work__icon-area {
  position: absolute;
  right: 0;
  bottom: 0;
}

.work__icon-link {
  color: var(--main-color);

}

.work__icon-link:is(:hover, :active) {
  color: var(--accent-color);
}

.work__icon {
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
}

.work__icon-area .work__icon:not(:last-of-type) {
  padding-left: 2px;
}

.work__content-type {
  margin-left: 10px;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 2.5em;
  background-color: #666;
  color: #fff;
}

.work__tech {
  position: relative;
  border: 1px solid #ccc;
  padding: 5px 20px;
  margin: 0 60px 10px;
}

.work__tech-title {
  position: absolute;
  --tech-title-font-size: 14px;
  left: 1em;
  top: calc(-1 * var(--tech-title-font-size) + 2px);
  font-size: var(--tech-title-font-size);
  background-color: #fff;
  padding: 0 5px;
}

.work__tech-list {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}

.work__tech-item {
  position: relative;
  color: #fff;
  font-size: 12px;
  background-color: #007bff;
  padding: 4px 10px 4px 20px;
  border-radius: 2.5em 0 0 2.5em;
}

.work__tech-item::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  left: 7px;
  top: 6px;
  background-color: #fff;
}

.work__description {
  display: flex;
  justify-content: space-between;
}

.work__description-text {
   line-height: 1.8;
}

.work__tech-item:not(:last-of-type) {
  margin-right: 1em;
}

.work__image {
  border: 1px solid #ccc;
  object-fit: contain;
  max-width: 200px;
  max-height: 400px;
  margin: 0 10px 10px 0;
}

.skill {
  position: relative;
  width: 900px;
  height: calc(var(--skill-content-height) + 100px);
  margin: 0 auto;
}

.skill__tab-buttons {
  /* 重ね合わせの問題で必要 */
  /* 無いとタブのボタンが下になってしまう */
  position: relative;
  z-index: 10;
}

.skill__tab-button {
  position: absolute;
}

.skill__tab-button-inner {
  padding: var(--basic-padding);
  border-radius: var(--basic-padding);
  background-color: #fff;
  border: 1px solid var(--skill-border-color);
  cursor: pointer;
  white-space: nowrap;
}

.skill__tab-button-inner--selected {
  color: var(--main-bg-color);
  background-color: var(--header-bg-color);
  border-color: var(--header-bg-color);
  cursor: auto;
}

.skill__tab-content {
  position: absolute;
  top: 50px;
  left: 150px;
  width: var(--skill-content-width);
  height: var(--skill-content-height);
  border: 1px solid var(--skill-border-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.skill__content {
  position: absolute;
  top: calc((var(--skill-content-height) - var(--skill-content-inner-height)) / 2);
  left: calc((var(--skill-content-width) - var(--skill-content-inner-width)) / 2);
  width: var(--skill-content-inner-width);
  height: var(--skill-content-inner-height);
  overflow-y: scroll;
}

.skill__tab-content-init {
  display: none;
}

.skill__tab-title {
  text-align: center;
  font-size: 1.2em;
  border-bottom: 2px solid var(--skill-border-color);
  padding: var(--basic-padding);
  margin: 0 var(--basic-margin-large) var(--basic-margin);
}

.skill__level {
  text-align: center;
  margin: var(--basic-margin) 0 var(--basic-margin-large);
}

.skill__level-title::after {
  content: ':';
  margin-right: var(--basic-margin);
}

.skill__level-star {
  color: #f88;
}

.skill__content-p {
  margin: var(--basic-margin) 0;
  line-height: 1.5;
}
