@charset 'utf-8';

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP';
  font-weight: 300;
}

.work {
  width: 960px;
  margin: 0 auto;
}

.work__buttons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.work__buttons-item {
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.work__buttons-item::before, .work__buttons-item::after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition: 200ms ease all;
}

.work__buttons-item::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.work__buttons-item:hover::before, .work__buttons-item:hover::after {
  width: 100%;
  transition: 300ms ease all;
}

.work__buttons-item:not(:last-of-type) {
  margin-right: 20px;
}

.work__buttons-item--selected {
  background-color: #000;
  color: #fff;
  transition: 1000ms ease all;
}

.work__buttons-item--selected::before {
  content: '';
}

.work__tab-contents {
  position: relative;
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

.work__content {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  width: 600px;
  height: 600px;
  overflow-y: scroll;
  position: absolute;
  left: 200px;
}

.content-second {
  transition: all 1s ease-in;
}

.work__content-title {
  font-size: 22px;
  border-bottom: 1px solid #666;
  padding: 5px 10px 10px;
  text-align: center;
  margin: 0 10px 30px;
}

.work__content-type {
  margin-left: 10px;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 2.5em;
  background-color: #666;
  color: #fff;
}

.work__tech {
  position: relative;
  border: 1px solid #ccc;
  padding: 5px 20px;
  margin: 0 60px 10px;
}

.work__tech-title {
  position: absolute;
  --tech-title-font-size: 14px;
  left: 1em;
  top: calc(-2 * var(--tech-title-font-size));
  font-size: var(--tech-title-font-size);
  background-color: #fff;
  padding: 0 5px;
}

.work__tech-list {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}

.work__tech-item {
  position: relative;
  color: #fff;
  font-size: 12px;
  background-color: #007bff;
  padding: 2px 10px 2px 20px;
  border-radius: 2.5em 0 0 2.5em;
}

.work__tech-item::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 4px;
  left: 7px;
  top: calc((1em + 2px) / 2);
  background-color: #fff;
}

.work__description {
  display: flex;
}

.work__tech-item:not(:last-of-type) {
  margin-right: 1em;
}

.work__image {
  border: 1px solid #ccc;
  object-fit: contain;
  max-width: 200px;
  max-height: 400px;
  margin: 0 10px 10px 0;
}
