@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400');

:root {
  --brand-color: #31252f;
  --background-color: #fff;
  --page-width: 960px;

  --about-skill-num: 6;
  --about-skill-interval-x: 60px;
  --about-skill-interval-y: 30px;
  --about-skill-panel-width: 320px;
  --about-skill-panel-height: 320px;

  --work-width: 600px;
  --work-scroll-width: 500px;
  --work-height: 350px;
  --work-scroll-scale: 0.5;
  --work-operation-width: 30px;
  --work-width-padding: calc((var(--page-width) - var(--work-width)) / 2 - var(--work-operation-width));

  --h1-font-size: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  /*font-family: 'ヒラギノ丸ゴ Pro W4', 'Hiragino Maru Gothic Pro',*/
  /*'UD デジタル 教科書体 N-R', Meiryo, 'メイリオ',*/
  /*'Lucida Grande', Verdana, Osaka, sans-serif;*/

  /*font-weight: 300;*/
  -webkit-font-smoothing: antialiased;

  background-color: var(--background-color);
  color: var(--brand-color);
  display: flex;
  font-size: 14px;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin-bottom: 0.5em;
}

#modal {
  display: none;
}

/* Edgeの場合 */

#browserWarning {
  margin-top: -110px;
  height: 110px;
}

#browserWarning.show {
  margin-top: 0;
  transition: margin-top 1.5s 0.1s ease;
}

#warning {
  background-color: #fff;
  color: #f00;
  padding: 10px 10px 10px 70px;
}

#ms {
  background-color: #f2f2f2;
  display: flex;
  padding: 15px 0 8px;
}

#ms img {
  margin-left: 70px;
  width: 50px;
  height: 50px;
}

.chrome {
  flex: 1;
  margin: 4px 0 0 10px;
}

.chrome > div:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.chrome > div:nth-child(2) {
  font-weight: 200;
  font-size: 13px;
}

.confirm_chrome {
  margin: 15px 70px 0 0;
}

.confirm_chrome span {
  color: #0067b8;
  font-size: 12px;
  text-decoration: underline;
  margin-right: 20px;
  cursor: pointer;
}

.confirm_chrome a {
  color: #fff;
  font-size: 12px;
  background-color: #0067b8;
  padding: 5px 30px;
}

a {
  color: #b45a1d;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* ヘッダー */

header {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  margin-bottom: 20px;
}

header > div {
  display: flex;
  align-items: flex-end;
  max-width: var(--page-width);
  width: 100%;
}

#menuButton {
  display: none;
}

.logo {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  font-size: 28px;
}

.logo img {
  align-items: end;
  height: 1.4em;
  margin-right: 10px;
}

.logo a {
  color: var(--brand-color);
}

nav ul {
  display: flex;
  font-size: 18px;
}

nav li:not(:last-child) {
  margin-right: 50px;
}

nav a {
  color: var(--brand-color);
  text-decoration: none;
  border: 1px solid transparent;
  padding-bottom: 8px;
  transition: border-bottom 1s 0.1s ease;
}

nav a.menu_active {
  border-bottom: solid 1px var(--brand-color);
}

nav a:hover {
  border-bottom: solid 1px var(--brand-color);
}

@keyframes navBack {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 50%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

/* メイン */

/* HOME */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.news {
  display: flex;
  max-width: var(--page-width);
  text-align: center;
  flex-grow: 1;
  align-items: center;
}

.news h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.news section {
  /* 真ん中よりちょっと上に調整 */
  padding-bottom: 8rem;
}

.news li {
  font-size: 18px;
  line-height: 2rem;
}

.news time {
  margin-right: 1rem;
}

/* ABOUT */
.skill_title {
  font-size: var(--h1-font-size);
  padding: 0.4em 3em;
  color: #fff;
  background-color: #833c15;
  border: 1px dashed #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #833c15;
  margin: 20px 0;
}

.skill {
  max-width: var(--page-width);
  margin: 20px 0;
  width: 100%;
}

.skill > section {
  display: flex;
  flex-direction: column;
}

.skill_list {
  position: relative;
  width: calc(var(--about-skill-panel-width) + (var(--about-skill-num) - 1) * var(--about-skill-interval-x));
  height: calc(var(--about-skill-panel-height) + (var(--about-skill-num) - 1) * var(--about-skill-interval-y));
  margin: 0 auto;
}

.skill_list .panel {
  position: absolute;
  background-color: #fafafa;
  border: 1px solid #eee;
  width: var(--about-skill-panel-width);
  height: var(--about-skill-panel-height);
  box-shadow: 2px 2px 4px;

  cursor: pointer;
}

.skill_list .content {
  line-height: 1.5em;
  filter: blur(2px);
  padding: 15px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.skill_list .panel.active {
  animation: activePanel 0.6s ease 0s 1 normal forwards;
}

.skill_list .panel.active .content {
  animation: activeContent 0.6s ease 0s 1 normal forwards;
  overflow-y: scroll;
}

.skill_list .panel:hover {
  background-color: #f0f0f0;
}

.skill_list .panel.inactive {
  animation: inactivePanel 0.6s ease 0s 1 normal forwards;
}

.skill_list .panel.inactive .content {
  animation: inactiveContent 0.6s ease 0s 1 normal forwards;
}

@keyframes activePanel {
  0% {
    background-color: #fafafa;
    border: 1px solid #eee;
    z-index: 0;
  }
  50% {
    left: 0;
    z-index: 1;
    transform: rotate(-10deg);
  }
  100% {
    border: 1px solid #666;
    top: calc((var(--about-skill-num) - 1) * var(--about-skill-interval-y) / 2);
    left: calc((var(--about-skill-num) - 1) * var(--about-skill-interval-x) / 2);
    background-color: #fff;
    z-index: 1;
  }
}

@keyframes activeContent {
  0% {
    filter: blur(2px);
  }
  100% {
    filter: none;
  }
}

@keyframes inactivePanel {
  0% {
    top: calc((var(--about-skill-num) - 1) * var(--about-skill-interval-y) / 2);
    left: calc((var(--about-skill-num) - 1) * var(--about-skill-interval-x) / 2);
    background-color: #fff;
    border: 1px solid #666;
    z-index: 1;
  }
  50% {
    left: 0;
    z-index: 0;
  }
  100% {
    background-color: #fafafa;
    border: 1px solid #eee;
    z-index: 0;
  }
}

@keyframes inactiveContent {
  0% {
    filter: none;
  }
  100% {
    filter: blur(2px);
  }
}

.skill_list .title {
  font-size: 16px;
  text-align: center;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #000;
  margin: 0 3rem 15px 3rem;
}

.skill_list .star {
  text-align: center;
  color: #ffb42e;
  margin-bottom: 10px;
}

/* WORK */
.work_title {
  font-size: var(--h1-font-size);
  padding: 0.4em 3em;
  color: #fff;
  background-color: #833c15;
  border: 1px dashed #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #833c15;
  margin: 20px 0;
}

.work {
  display: flex;
  justify-content: center;
  position: absolute;
  border: 1px solid #999;
  width: var(--work-width);
  height: var(--work-height);
  overflow: hidden;
}

.work .caption {
  width: 200px;
}

.work section {
  display: flex;
  flex-direction: column;
  width: var(--work-width);
  height: var(--work-height);
}

.work h2 {
  color: #fff;
  background-color: #b45a1d;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.work section > div {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.tag_list {
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  background-color: #823c1b;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  font-weight: normal;
}

.tag:not(:last-child) {
  margin-right: 10px;
}

.work .description {
  flex: 1;
  padding: 10px;
  line-height: 1.6em;
}

.work .image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
}

.work img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #ccc;
}

.works {
  display: flex;
  margin: 10px 0;
}

.works_main {
  position: relative;
  width: 900px;
  min-height: var(--work-height);
  height: calc(var(--work-height) + 20px); /* paddingの分を足しておく */
  overflow: hidden;
  padding: 10px 0;
}

.move_left {
  cursor: pointer;
  width: var(--work-operation-width);
  position: relative;
}

.move_left:hover {
  background-color: #eee;
}

.move_right {
  cursor: pointer;
  width: var(--work-operation-width);
  position: relative;
}

.move_right:hover {
  background-color: #eee;
}

.left_arrow {
  border-top: 24px solid transparent;
  border-right: 24px solid #ccc;
  border-bottom: 24px solid transparent;
  width: 24px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.right_arrow {
  border-top: 24px solid transparent;
  border-left: 24px solid #ccc;
  border-bottom: 24px solid transparent;
  width: 24px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes left0 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 1);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 2), calc(1 - var(--work-scroll-scale) * 2));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 2);
  }
}

@keyframes left1 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 0), calc(1 - var(--work-scroll-scale) * 0));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 0);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 1);
  }
}

@keyframes left2 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * -1);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 0), calc(1 - var(--work-scroll-scale) * 0));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 0);
  }
}

@keyframes left3 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 2), calc(1 - var(--work-scroll-scale) * 2));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * -2);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * -1);
  }
}

@keyframes right0 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 2), calc(1 - var(--work-scroll-scale) * 2));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 2);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 1);
  }
}

@keyframes right1 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 1);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 0), calc(1 - var(--work-scroll-scale) * 0));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 0);
  }
}

@keyframes right2 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 0), calc(1 - var(--work-scroll-scale) * 0));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * 0);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * -1);
  }
}

@keyframes right3 {
  0% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 1), calc(1 - var(--work-scroll-scale) * 1));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * -1);
  }
  100% {
    transform: scale(calc(1 - var(--work-scroll-scale) * 2), calc(1 - var(--work-scroll-scale) * 2));
    left: calc(var(--work-width-padding) - var(--work-scroll-width) * -2);
  }
}

/* BLOG */
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: var(--page-width);
}

.blog h2 {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.card_list {
  display: flex;
}

.card {
  position: relative;
  display: flex;
  flex: 1;
  background-color: #fff;
  border: 1px solid var(--brand-color);
  height: 13em;
  margin: 0 20px;
  /*transition: box-shadow 400ms 0s ease;*/
  padding: 5px;
}

.card:hover::after {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  content: "";
  background-color: #f00;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  transform: rotate(3deg);
  animation: rotateShadow 0.5s ease;
}

@keyframes rotateShadow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3deg);
  }
}

.card_nothing {
  flex: 1;
}

.card img {
  margin: 5px;
  width: 7rem;
  object-fit: contain
}

.card > div {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 20px;
  width: 100%;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card .list {
  border: 1px solid #ccc;
  flex: 1;
  margin: 0 10px 10px 10px;
  padding: 5px;
  overflow-y: scroll;
  line-height: 1.3em;
}

.card li {
  list-style-type: decimal;
  margin-left: 2em;
}

/* フッター */
footer {
  background-color: #833c15;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  max-width: var(--page-width);
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer li {
  display: inline-block;
  width: 1.6em;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  /* ヘッダー */
  header {
    position: relative;
  }

  #menuButton {
    display: block;
    font-size: 25px;
    margin-right: 20px;
  }

  #modal.show {
    position: fixed;
    display: block;
    background-color: transparent;
    opacity: 0.75;
    width: 100%;
    height: 100vh;
    z-index: 1000;
  }

  #modal.show {
    animation: fadeIn 0.3s ease 0s 1 normal forwards;
  }

  #modal.hide {
    animation: fadeOut 0.3s ease 0s 1 normal forwards;
  }

  @keyframes fadeIn {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: #000;
    }
  }

  @keyframes fadeOut {
    0% {
      background-color: #000;
    }
    100% {
      background-color: transparent;
    }
  }

  nav {
    position: fixed;
    width: 150px;
    height: 100vh;
    top: 0;
    right: -150px;
    background-color: var(--background-color);
    z-index: 2000;
  }

  nav.show {
    animation: showMenu 0.3s ease 0s 1 normal forwards;
  }

  nav.hide {
    animation: hideMenu 0.3s ease 0s 1 normal forwards;
  }

  @keyframes showMenu {
    0% {
      right: -150px;
    }
    100% {
      right: 0;
    }
  }

  @keyframes hideMenu {
    0% {
      right: 0;
    }
    100% {
      right: -150px;
    }
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav li {
    padding: 10px;
  }

  nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: var(--brand-color);
    text-decoration: none;
    border-bottom: none;
  }

  /* メイン */
  /* ABOUT */
  .skill_list {
    flex-direction: column;
    margin: 0 20px;
  }

  .skill_list ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow-x: scroll;
  }

  .skill_list li.selected {
    border: 1px solid var(--brand-color);
    border-radius: 20px / 50%;
  }

  @keyframes viewSkillBorder {
    0% {
      color: #b1a5af;
      border-color: transparent;
    }
    100% {
      color: var(--brand-color);
      border-color: var(--brand-color);
    }
  }

  /* WORK */
  .work .description {
    flex-direction: column;
  }

  /* BLOG */
  .card_list {
    flex-direction: column;
  }

  /* フッター */
  footer > div {
    display: block;
    margin: 5px 10px;
  }

  footer > div > div:last-child {
    margin-top: 10px;
  }

  footer ul {
    display: block;
    text-align: right;
  }
}
